@inherits LayoutComponentBase
<!--LoginDisplay /-->

<nav class="navbar fixed-top bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand">🕹️ Stridell</a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>


<main style="padding-top: 70px;">
    <div class="container-fluid">
        @Body
    </div>
</main>

